/* This file makes the application look good */
#stopwatch span {
  font-weight: bold;
  display: block;
}
#stopwatch .stopwatch_time {
	font-size: 150px;
	text-align: center;
}
#stopwatch .stopwatch_start, #stopwatch .stopwatch_stop, #stopwatch .stopwatch_reset{
	display: block;
	margin: 20px auto;
}

#times tr
{
	border-bottom: 1px solid #eee;
	padding: 20px;
}

#times tr td
{
	text-align: center;
	padding: 10px;
}